.jumbotron {
    height: 90vh;
    background: url(../assets/agrichart.jpg);
    background-size: cover;
    background-position: 50% 25%;
    border-top: 3px solid #dbdbdb;
}

.navbar {
    height: 9vh;
}

.card-link {
    color: green;
}

.secondary-link {
    color: green;
}
